/* Basic styling for every page: */
body {
    color: #ffffff;
    font-family: Jura, Arial, sans-serif;
    margin: 0;
    padding: 2vh 2vw;
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-size: contain;
}

.glassmorphism-effect {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.glassmorphism-effect-dark {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


h2 {
    font-size: 2.1em;
}


/**Navigation-Bar:**/
/* Styling for navigation-bar: */
.navbar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #ddd;
}

.search-container {
    position: relative;
    align-items: center;
    transition: width 0.3s ease;
    width: 100px;
    overflow: hidden;
}

.search-container.open {
    width: 200px;
}

#searchForm {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    font-family: Jura, Arial, sans-serif;
    width: 100%;
    padding: 8px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.search-container.open .search-input {
    opacity: 1;
    visibility: visible;
}

.search-icon {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin-left: -25px;
    z-index: 1;
}

.logo {
    width: 40%;
}

.mobile-image {
    display: none;
    width: 36%;
}
  
.desktop-image {
    display: block;
}


/** Home: **/
/* Styling for movies on Home: */
.colset-2-its {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    width: 200px;
    padding: 0 10px 0 10px;
}

.movieTitle {
    color:aliceblue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.movieTitle:hover {
    color:rgb(35, 208, 251);
}

#results, #popular-movies, #upcoming-movies {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 25px;
    padding-right: 12px;
}

#results div, .result-item {
    background-color: #444444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

#results img, .result-item img {
    border-radius: 5px;
    max-width: 100%;
}

#popular-movies .result-item, #upcoming-movies .result-item {
    overflow: hidden;
    height: 300px;
    position: relative;
}

#popular-movies img, #upcoming-movies img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: auto;
}

#popular-movies img:hover, #upcoming-movies img:hover {
    transform: scale(1.1);
}

#results .result-item p, #popular-movies .result-item p, #upcoming-movies .result-item p {
    margin-top: 10px;
    color: #ffffff;
}

/* For mobile-first (vertical and horizontal view): */
@media (max-width: 768px) {
    .mobile-image {
        display: block;
    }
  
    .desktop-image {
        display: none;
    }

    #results, #popular-movies, #upcoming-movies {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 25px;
        padding-right: 20px;
    }
}