body {
    background-color: #2e2e2e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2vh 2vw 2vh 2vw;
}

#title {
    font-size: 100px;
}

#searchForm {
    margin-bottom: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-right: 60px;
}

#searchButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ff6600;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#results div {
    background-color: #444444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

#results img {
    border-radius: 5px;
    max-width: 100%;
}

#movieDetail {
    background-color: #444444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#movieDetail img {
    border-radius: 10px;
    max-width: 100%;
}

#movieDetail h1 {
    font-size: 2em;
    margin-top: 20px;
}

#movieDetail p {
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colset-2-its {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popular-movies, #upcoming-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#popular-movies .result-item, #upcoming-movies .result-item {
    overflow: hidden;
    height: 300px;
    width: 200px;
    position: relative;
    text-align: center;
}

#popular-movies img, #upcoming-movies img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: auto;  /* Maintain aspect ratio */
}

#popular-movies img:hover, #upcoming-movies img:hover {
    transform: scale(1.1);
}

#results .result-item p, #popular-movies .result-item p, #upcoming-movies .result-item p {
    margin-top: 10px;
    color: #ffffff;
}




/* src/style.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #ddd;
}

#searchForm {
    position: relative;
}

#searchInput {
    padding: 0.5rem;
    width: 200px;
}

#searchButton {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #777;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 20px;
}

.movie-item img {
    width: 100%;
    border-radius: 8px;
}

.movie-item p {
    text-align: center;
    margin: 0.5rem 0;
}
